@import './abstracts';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  width: 100%;
  text-align: center;
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0 1rem;
    cursor: pointer;
  }
}

main {
  width: 75%;
  margin: 0 auto;
  padding: 1rem;
}
